= form_for @graph do |f|
  - if @graph.errors.any?
    #error_explanation
      %h2= "#{pluralize(@graph.errors.count, "error")} prohibited this graph from being saved:"
      %ul
        - @graph.errors.full_messages.each do |msg|
          %li= msg
  - [:name, :short_name, :read_password, :write_password].each do |fieldname|
    .field
      = f.label fieldname
      %br
      = f.text_field fieldname
  .field
    = f.label :description
    %br
    = f.text_area :description
