<div id="header_bar">
  <div class="right_side">
    <%= render 'toolbar' %>
    <a href="#" onclick="$('#settings').show()">Settings</a>
  </div>
  <%= link_to '<< All Graphs', graphs_path %>
  <h1><%= @graph.name %></h1>
</div>
<svg id="relationships">
  <% @graph.relationship_starts.each do |relationship| %>
    <path id="relationship<%= relationship.id %>" stroke="black" stroke-width="2" fill="none" />
  <% end %>
</svg>
<div id="settings">
  <div style="text-align: right;">
    <a href="#" onclick="$('#settings').hide()">Close</a>
  </div>
  <%= render 'form' %>
</div>


<div class="editorbox" style="position: relative;">
<% @graph.entities.each do |entity| %>
  <div class="entity"
    title="<%= entity.name %>"
    id="entity<%= entity.id %>"
    data-id="<%= entity.id %>"
    data-name="<%= entity.name %>"
    data-width="<%= entity.width.to_s %>"
    data-height="<%= entity.height.to_s %>"
    data-x="<%= entity.x.to_s %>"
    data-y="<%= entity.y.to_s %>"
    data-relationship_starts="<%= entity.relationship_starts.to_json %>"
    data-relationship_ends="<%=   entity.relationship_ends  .to_json %>">
    <form class="entity-attributes" style="height: 98%; width: 98%;">
      <textarea name="attributes" class="attributes" style="height: 100%; width: 100%; resize: none; border: none;"><%= entity.attrib %></textarea>
    </form>
  </div>
<% end %>
</div>

<%= javascript_tag do %>
  window.relationships = []
  <% @graph.relationship_starts.each do |r| %>
    window.relationships.push({e1: <%=j r.entity1_id.to_s %>, e2: <%=j r.entity2_id.to_s %>})
  <% end %>
<% end %>

