.header_bar
  = button_to 'New Graph', new_graph_path, :method => :get

%table.graph_index

  - @graphs.each do |graph|
    %tr
      %td
        .graph_title= link_to graph.name, edit_graph_path(graph)
        .graph_date= graph.updated_at.strftime('Modified %Y-%m-%d')
        = graph.description
      %td= button_to 'Delete', graph, method: :delete, data: { confirm: 'Are you sure?' }

%br

