<h1>Listing entities</h1>

<table>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>Width</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entities.each do |entity| %>
  <tr>
    <td><%= entity.x %></td>
    <td><%= entity.y %></td>
    <td><%= entity.width %></td>
    <td><%= entity.height %></td>
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entity', new_entity_path %>
