<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entity.name %>
</p>

<p>
  <b>X:</b>
  <%= @entity.x %>
</p>

<p>
  <b>Y:</b>
  <%= @entity.y %>
</p>

<p>
  <b>Width:</b>
  <%= @entity.width %>
</p>

<p>
  <b>Height:</b>
  <%= @entity.height %>
</p>


<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
