= form_for @graph_snapshot do |f|
  - if @graph_snapshot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@graph_snapshot.errors.count, "error")} prohibited this graph_snapshot from being saved:"
      %ul
        - @graph_snapshot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :modification_date
    = f.datetime_select :modification_date
  .field
    = f.label :tag
    = f.text_field :tag
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
