<!DOCTYPE html>
<html ng-app="LDT" ng-controller="PageCtrl">
<head>
  <title ng-bind-template="LDT: {{title}}">LDT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "print",       :media => "print" %>
  <script src="https://login.persona.org/include.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
